<?xml version="1.0" encoding="UTF-8"?>

  <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.paul9537.care.post.dao.FavoritesDAO">
	<insert id="insertFavorites" parameterType="int">
		INSERT INTO `favorites` 
		(
			`userId`
			, `postId`
			, `createdAt`
		) VALUE (
			#{userId}
			, #{postId}
			, now()
		)
	</insert>

	<select id="selectFavoritesByUserId" parameterType="map">
		SELECT
			count(*)
		FROM
			`favorites`
		WHERE
			`postId` = #{postId}
			, `userId` = #{userId}
	</select>
	
	<delete id="deleteFavoirtesByUserId" parameterType="map">
		DELETE FROM 
			`favorites`
		WHERE
			`userId` = #{userId}
			AND `postId` = #{postId}
	</delete>
</mapper>