<?xml version="1.0" encoding="UTF-8"?>

  <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.paul9537.care.user.dao.UserDAO">
	<insert id="insertUser" parameterType="map">
		INSERT INTO `user`
		(
			`userType`
			, `careType`
			, `loginId`
			, `nickname`
			, `password`
			, `name`
			, `email`
			, `address`
			, `createdAt`
			, `updatedAt`
		) VALUE (
			#{userType}
			, #{careType}
			, #{loginId}
			, #{nickname}
			, #{password}
			, #{name}
			, #{email}
			, #{address}
			, now()
			, now()
		)
	</insert>

	<select id="selectDuplicate" parameterType="string" resultType="int">
		SELECT
			count(*)
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
	</select>
	
	<select id="selectUser" parameterType="map" resultType="com.paul9537.care.user.model.User">
		SELECT
			`id`
			, `userType`
			, `careType`
			, `loginId`
			, `nickname`
			, `password`
			, `name`
			, `email`
			, `address`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
			AND `password` = #{password}
	</select>
	
	<select id="selectNicknameDuplicate" parameterType="string" resultType="int">
		SELECT
			count(*)
		FROM
			`user`
		WHERE
			`nickname` = #{nickname}
	</select>
	
	<insert id="insertProfile" parameterType="map">
		INSERT INTO `profile`(
			`userId`
			, `careType`
			, `nickname`
			, `imagePath`
			, `age`
			, `wage`
			, `information`
			, `address`
			, `possibleDays`
			, `possibleActivity`
			, `createdAt`
			, `updatedAt`
		) VALUE (
			#{userId}
			, #{careType}
			, #{nickname}
			, #{imagePath}
			, #{age}
			, #{wage}
			, #{information}
			, #{address}
			, #{possibleDays}
			, #{possibleActivity}
			, now()
			, now()
		)
	</insert>
	
	<select id="selectProfile" parameterType="int" resultType="int">
		SELECT
			count(*)
		FROM
			`profile`
		WHERE
			`userId` = ${userId}
	</select>
	
	<update id="updateProfile" parameterType="map">
		UPDATE
			`profile`
		SET
			`careType` = #{careType}
			, `nickname` = #{nickname}
			, `imagePath` = #{imagePath}
			, `age` = #{age} 
			, `wage` = #{wage}
			, `information` = #{information}
			, `address` = #{address}
			, `possibleDays` = #{possibleDays}
			, `possibleActivity` = #{possibleActivity}
			, `updatedAt` = now()
		WHERE
			`userId` = #{userId}
	</update>
	
	<select id="selectProfileByUserId" parameterType="int" resultType="com.paul9537.care.user.model.Profile">
		SELECT
			`id`
			, `userId`
			, `careType`
			, `nickname`
			, `imagePath`
			, `age`
			, `wage`
			, `information`
			, `address`
			, `possibleDays`
			, `possibleActivity`
			, `createdAt`
			, `updatedAt`
		FROM
			`profile`
		WHERE
			`userId` = #{userId}
	</select>
</mapper>