@charset "UTF-8";

#wrap {
	width:1200px;
	margin:auto;
}
header {
	height:80px;
}
.logo {
	font-size:30px;
}
.login-box {
	width:450px;
	height:600px;
}
.signup-box {
	width:500px;
	height:800px;
}
.postList-box {
	width:600px;
}
.post-box {
	width:600px;
	height:300px;
}
.image-box {
	width:300px;
	height:300px;
}
.introduce-box {
	width:500px;
	height:200px;
}
footer {
	height:80px;
}
textarea {
	resize:none;
}
#postIcon {
	font-size:45px;
	color:black;
}
.postIconDiv {
	position:fixed;
	right:45px;
	bottom:30px;
}
.create-post-box {
	width:600px;
	height:600px;
}
.moreBtn {
	font-size:20px;
}
.favoritesBtn {
	font-size:19px;
}