@charset "UTF-8";

#wrap {
	width:1920px;
	margin:auto;
}
header {
	height:80px;
}
.logo {
	font-size:30px;
}
section {
	height:900px;
}
.login-box {
	width:450px;
	height:600px;
}
.signup-box {
	width:500px;
	height:800px;
}
.postList-box {
	width:600px;
	
}
.post-box {
	width:600px;
	height:300px;
}
footer {
	height:80px;
}